/* Estilos para a seção de posts do blog */
.blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilos para cada post individual */
.blog-post{
    flex: 1;
    background-color: transparent;
    padding: 20px;
    margin: 10px;
    border: 1px solid #c9d1d973;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    min-width: 300px;
}

.blog-post:hover {
    transform: translateY(-2px);
}

/* Estilos para o título do post */
.post-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}


/* Estilos para a data do post */
.post-date {
    color: #777;
}

/* Estilos para o trecho do post */
.post-excerpt {
    color: #444;
    line-height: 1.5;
}

/* Estilos para o link "Leia Mais" */
.read-more {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}

.read-more:hover {
    text-decoration: underline;
}

